@import 'variable';

body{
    margin: 0;
    .App{
        padding-top: 64px;
    }
    .errorBoundary{
        min-height: 80vh;
        background: url('../images/bg_image.svg');
        img{
            margin-bottom: 16px;
        }
        h3{
            color: $color_gray;
            margin-bottom: 24px;
        }
        .primaryBtn{
            width: 140px;
        }
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        height: 64px;
        background: $color_primary;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        .heading2{
            color: $color_white;
        }
        .back-arrow{
            position: absolute;
            left: 20px;
        }
    }
    .bottom-navigation{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 4px 0;
        box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        .MuiBottomNavigationAction-root{
            // padding: 6px 6px 8px;
            // min-width: 55px;
            .MuiBottomNavigationAction-wrapper{
              img{
                width: 24px;
                margin-bottom: 4px;
              }
              .MuiBottomNavigationAction-label{
                @include fontStyle(
                  $fontFamily:$font_RobotoCondensed,
                  $size:$font12,
                  $weight:$regularFont,
                  $color: $color_info_text,
                  $lineHeight: $lineHeight16
                );
                &.Mui-selected{
                    color: $color_primary;
                    font-weight: $boldFont;
                }
              }
            }
          }
    }
    .partially-visible-carousel-container{
        .carousel-item{
            padding-right: 16px;
            box-sizing: border-box;
        }
    }
    .custom-dot-list{
        bottom: 16px;
        .react-multi-carousel-dot{
            button{
                background: #CCCCCC;
                border-color: #CCCCCC;
                height: 8px;
                width: 8px;
            }
            &.react-multi-carousel-dot--active{
                button{
                    background: $color_primary;
                    border-color: $color_primary;
                    border-radius: 8px;
                    width: 24px;
                }
            }
        }
    }
    .who-we-are-blk{
        padding-left: 16px;
        padding-bottom: 24px;
        border-bottom: 1px solid $color_FFE5E9;
        margin-bottom: 24px;
        position: relative;
        .bg-img{
            position: absolute;
            width: 89px;
            transform: rotateY(180deg);
            top: -16px;
            right: -22px;
            opacity: 0.1;
        }
    }
    .why-letzdance-blk{
        padding-left: 16px;
        padding-bottom: 24px;
        border-bottom: 1px solid $color_FFE5E9;
        margin-bottom: 24px;
        position: relative;
        ul{
            margin-left: -8px;
            margin-right: 8px;
            li{
                img{
                    width: 32px;
                    margin-right: 16px;
                }
                margin-bottom: 8px;
                border-radius: 4px;
                p{
                    color: $color_gray;
                }
                &.point-one{
                    background: rgba(255, 225, 228, 0.2);
                }
                &.point-two{
                    background: rgba(255, 243, 207, 0.2);
                }
                &.point-three{
                    background: rgba(250, 223, 255, 0.2);
                }
                &.point-four{
                    background: rgba(226, 255, 223, 0.2);
                    margin-bottom: 0;
                }
            }
        }
    }
    .how-it-works-blk{
        padding: 0 16px 24px;
        ul{
            li{
                position: relative;
                padding: 8px 0;
                .icon{
                    margin-right: 16px;
                    width: 32px;
                }
            }
            .down-arrow{
                padding-left: 12px;    
            }
        }
    }
    .common-questions-blk{
        margin-bottom: 24px;
        padding: 0 16px 24px;
        .common-questions-accordion{
            border: 1px solid #999999;
            box-sizing: border-box;
            border-radius: 4px;
            margin-bottom: 12px;
            box-shadow: none;
            .MuiAccordionDetails-root{
                padding-top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .contact-us-blk{
        padding: 0 16px 30px;
        text-align: center;
        ul{
            margin-bottom: 18px;
            li{
                padding-right: 24px;
                &:last-child{
                    padding: 0;
                }
            }
        }
        p{
            color: $color_info_text;
        }
    }
}