// @media (min-width: 960px) and (max-width: 1279px) {
@media (min-width: 960px){
    body{
        header{
            text-align: unset;
            display: unset;
            .header-wrapper{
                height: 100%;
                .logo-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // height: 100%;
                }
                .nav-bar{
                    padding-left: 30px;
                    li{
                        display: inline-block;
                        margin-right: 30px;
                        &:last-child{
                            margin-right: 0;
                        }
                        .nav-item{
                            @include transitionForAll($time: 0.4s,$transProp: ease-out);
                            cursor: pointer;
                            padding: 10px 20px;
                            border-radius: 16px;
                            display: flex;
                            align-items: center;
                            img{
                                margin-right: 12px;
                            }
                            .active{
                                display: none;
                            }
                            .in-active{
                                display: block;
                            }
                            span{
                                color: #fff;
                                margin-top: 3px;
                            }
                        }
                        &.active{
                            .nav-item{
                                background: #fff;
                                .active{
                                    display: block;
                                }
                                .in-active{
                                    display: none;
                                }
                                span{
                                    color: $color_primary;
                                }
                            }
                        }
                        &:hover{
                            .nav-item{
                                background: #fff;
                                .active{
                                    display: block;
                                }
                                .in-active{
                                    display: none;
                                }
                                span{
                                    color: $color_primary;
                                }
                            }
                        }
                    }
                }
            }
        }
        .who-we-are-blk, .why-letzdance-blk, .how-it-works-blk, .common-questions-blk{
            padding-left: 208px;
            padding-bottom: 70px;
            border-bottom: none;
            margin-bottom: 0;
            padding-right: 300px;
        }
        .who-we-are-blk{
            .bg-img{
                top: 40px;
                right: 208px;
            }
            .paragraph{
                font-weight: $boldFont;
            }
        }
        .why-letzdance-blk{
            .list-wrapper{
                .list-item{
                    .heading3{
                        color: $color_black;
                    }
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
        .how-it-works-blk{

        }
        .common-questions-blk{
            padding-bottom: 24px;
        }
        .contact-us-blk{
            padding-top: 60px;
        }
        .custom-drawer{
            .MuiDrawer-paper{
                border-radius: 0;
                padding: 16px;
                min-width: 30%;
            }
        }
        .auth-popup-wrapper{
            height: 100%;
            position: relative;
            .heading2{
                margin: 16px 0 24px 0;
            }
            .line{
                display: none;
            }
            .footer{
                position: absolute;
                width: 100%;
                bottom: 32px;
            }
        }
    }
}
@media (min-width: 1279px){
    body{
        header{
            .header-wrapper{
                .nav-bar{
                    padding-left: 60px;
                }
            }
        }
    }
}