@import 'variable';
body{
    .edit-profile-section{
        .edit-profile-container{
            padding: 0;
            .top-blk{
                background: url("https://letzdance-fe.s3.us-east-2.amazonaws.com/profile_bg_img.svg");
                min-height: 200px;
                background-repeat: repeat-x;
                padding: 0 16px 16px;
            }
        }
    }
}