@import 'variable';

body{
    .home-section{
        overflow: hidden;
        .home-container{
            padding: 0;
            .title{
                position: relative;
                margin-bottom: 16px;
                a{
                    position: absolute;
                    right: 16px;
                    top: 7px;
                    color: $color_primary;
                    span,img{
                        vertical-align: middle;
                    }
                    img{
                        margin-top: 1px;
                    }
                }
            }
            .block{
                padding-left: 16px;
                position: relative;
                padding-bottom: 44px;
                margin-bottom: 24px;
                border-bottom: 1px solid #FFE5E9;
            }
            .introduction-blk{
                padding-bottom: 8px;
                margin-bottom: 16px;
                box-shadow: 0px 2px 8px rgba(34, 34, 34, 0.04);
                .carousel-container{
                    .carousel-item{
                        box-sizing: border-box;
                        height: 100%;
                        img{
                            width: 100%;
                            margin-bottom: 8px;
                        }
                        .heading1{
                            text-align: left;
                            font-size: 27px;
                            color: $color_black;
                            padding-left: 16px;
                        }
                    }
                    .react-multiple-carousel__arrow{
                        margin-bottom: 75px;
                        background: $color_white;
                        min-width: 30px;
                        min-height: 30px;

                        &::before{
                            font-size: 15px;
                            color: $color_primary
                        }
                    }
                }
            }
            .upcoming-classes{
                .partially-visible-carousel-container{
                    .carousel-item{
                        .card{
                            cursor: pointer;
                            border-radius: 8px;
                            box-shadow: 0px 2px 8px rgba(34, 34, 34, 0.04);
                            .top-blk{
                                position: relative;
                                .logo{
                                    width: 100%;
                                    border-radius: 8px 8px 0 0;
                                }
                                span{
                                    background: $color_primary;
                                    position: absolute;
                                    color: $color_white;
                                    right: 8px;
                                    border-radius: 4px;
                                    top: 8px;
                                    padding: 2px 8px;
                                }
                                p{
                                    color: $color_white;
                                    position: absolute;
                                    bottom: 10px;
                                    left: 16px;
                                }
                            }
                            .info-blk{
                                padding: 16px 16px 12px;
                                margin-top: -4px;
                                border: 1px solid #DDDDDD;
                                border-radius: 0 0 8px 8px;
                                position: relative;
                                h3{
                                    color: $color_primary;
                                    margin-bottom: 8px;
                                    img, span{
                                        vertical-align: middle;
                                    }
                                    img{
                                        margin-top: -2px;
                                    }
                                    span{
                                        margin-left: 5px;
                                        &.rating{
                                            font-size: 10px;
                                        }
                                    }
                                }
                                p{
                                    &.cost{
                                        position: absolute;
                                        right: 16px;
                                        top: 17px;
                                        span{
                                            text-decoration: line-through;
                                            color: $color_info_text;
                                            font-weight: $regularFont;
                                            margin-right: 5px;
                                            font-size: 12px;
                                        }
                                    }
                                }
                                .subHeading{
                                    margin-bottom: 16px;
                                    span{
                                        color: $color_info_text;
                                        font-weight: $regularFont;
                                        vertical-align: middle;
                                    }
                                    img{
                                        vertical-align: middle;
                                        margin-right: 5px;
                                    }
                                }
                                ul{
                                    display: flex;
                                    li{
                                        margin-right: 8px;
                                        p{
                                            text-align: center;
                                            margin-top: 5px;
                                            font-size: 8px;
                                            text-transform: capitalize;
                                            &.alert_red{
                                                color: $color_primary;
                                            }
                                            &.alert_orange{
                                                color: $color_warning;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .custom-dot-list{
                    bottom: 18px;
                }
            }
            .last-week-recap{
                .partially-visible-carousel-container{
                    .custom-dot-list{
                        bottom: 18px;
                    }
                    
                }
                .last-week-recap-item{
                    cursor: pointer;
                    .img-blk{
                        position: relative;
                        margin-bottom: 8px;
                        .dance-logo{
                            width: 100%;
                            box-shadow: 0px 2px 8px rgba(34, 34, 34, 0.04);
                            border-radius: 8px;
                            border: 1px solid $color_light_gray;
                        }
                        .play-icon{
                            position: absolute;
                            top: 40%;
                            left: 45%;
                        }
                    }
                    h3{
                        margin-bottom: 4px;
                    }
                    p{
                        color: $color_gray;
                    }
                }
            }
            .expert-instructors{
                
            }
            .common-questions-blk{
                background: rgba(255, 225, 228, 0.2);
                padding-top: 24px;
                margin: 0;
                .common-questions-accordion{
                    background: unset;
                }
            }
            .contact-us-blk{
                padding-top: 24px;
            }
            .reviews{

            }
        }
    }
}
@media (min-width: 960px){
    body{
        .home-section{
            .home-container{
                .block{
                    padding:0 0 84px;
                    margin: 0 150px;
                    margin-bottom: 64px;
                }
                .introduction-blk{
                    margin-bottom: 65px;
                    padding-bottom: 0;
                    box-shadow: none;
                    .react-multiple-carousel__arrow--right{
                        right: 250px;
                    }
                    .react-multiple-carousel__arrow--left{
                        left: 250px;
                    }
                }
                .expert-instructors{
                    .react-multiple-carousel__arrow{
                        margin-bottom: 0;
                    }
                }
                .reviews{
                    .react-multiple-carousel__arrow{
                        margin-bottom: 0;
                    }
                }
                .common-questions-blk{
                    padding: 64px 150px;
                }
            }
        }
    }
}
@media (min-width: 1279px) {
    body{
        .home-section{
            .home-container{
                .block{
                   margin: 0 200px;
                }
                .common-questions-blk{
                    padding: 64px 200px;
                }
            }
        }
    }
}