@import 'variable';

body{
    .schedule-section{
        .schedule-container{
            padding: 0;
            .dance-listing-wrapper{
                .date-picker-wrapper{
                    position: sticky;
                    position: -webkit-sticky;
                    top: 64px; /* required */
                    background: #fff;
                    padding: 16px 0 16px 16px;
                    z-index: 999;
                    .time-slots-tabs-wrapper{
                        .time-slots-tabs{
                            margin-bottom: 0;
                            .MuiTabs-scrollable{
                                .MuiTabs-flexContainer{
                                    ul{
                                        display: flex;
                                        list-style: none;
                                        position: relative;
                                        padding-top: 28px;
                                        li{
                                            a{
                                                .month{
                                                    display: none;
                                                }
                                                &.is-current{
                                                    .month{
                                                        display: block;
                                                        position: absolute;
                                                        top: 0;
                                                        left: 0;
                                                    }
                                                    .date-item{
                                                        box-shadow: none;
                                                        background: $color_primary;
                                                        .heading1,.secondaryText{
                                                            color: $color_white;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .dance-item-date-wrapper{
                    .title{
                        color: $color_primary;
                        margin: 0 16px;
                        overflow: hidden;
                        &::after{
                            content:'';
                            display:inline-block;
                            width:100%; 
                            height:100%;
                            margin-right:-100%;
                            border-bottom:4px solid #FFE5E9;
                            margin-left: 16px;
                            margin-bottom: 5px;
                        }
                    }
                    .dance-information-card{
                        padding: 24px 16px 8px;
                        border-bottom: 4px solid #FFE5E9;
                        .bottom-blk{
                            position: relative;
                            .cost{
                                position: absolute;
                                right: 0;
                                top: 0;
                                color: $color_black;
                                text-align: right;
                                span{
                                    text-decoration: line-through;
                                    color: $color_info_text;
                                    font-weight: $regularFont;
                                    display: block;
                                    line-height: 15px;
                                    font-size: 12px;
                                }
                            }
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                }
                .list-footer{
                    padding: 24px 24px 44px;
                    img{
                        width: 32px;
                        margin-bottom: 5px;
                    }
                    p{
                        color: $color_info_text
                    }
                }
            }
        }
    }
}