@import 'variable';

body{
    .user-progress-section{
        .user-progress-container{
            padding: 0;
            .wrapper{
                padding: 16px 16px 24px;
                margin-bottom: 8px;
                border-bottom: 1px solid $color_FFE5E9;
            }
            .progress-overview-blk{
                .activityLabel{
                    margin-bottom: 16px;
                }
                .all-time-summary{
                    .label{
                        margin-bottom: 8px;
                    }
                    .summary-wrapper{
                        border: 1px solid $color_light_gray;
                        box-shadow: 0px 2px 8px rgba(34, 34, 34, 0.04);
                        border-radius: 8px;
                        padding: 16px;
                        .summary-item{
                            h1{
                                margin-bottom: 4px;
                                color: $color_black;
                                span{
                                    font-size: $font14;
                                    line-height: $font14;
                                }
                            }
                            p{
                                color: $color_gray;
                            }
                        }
                    }                    
                }
            }
            .label{
                margin-bottom: 16px;
            }
            .calorie-graph-blk{
                .calorie-graph{
                    position: relative;
                    .graph-indicators{
                        position: absolute;
                        top: 0;
                        right: 12px;
                        p{
                            position: relative;
                            margin-bottom: 8px;
                            padding-left: 20px;
                            &::before{
                                left: 0;
                                position: absolute;
                                content: "";
                                width: 16px;
                                height: 16px;
                                background: $color_success;
                            }
                            &.user{
                                &::before{
                                    background: $color_blue;
                                }
                            }
                        }
                    }
                    .graph-wrapper{
                        margin-bottom: 16px;
                    }
                    .alert{
                        margin-bottom: 8px;
                        p{
                            color: $color_gray;
                        }
                    }
                }
            }
            .weight-loss-blk{
                .weight-loss{
                    .track-weight-loss-wrapper{
                        .alert{
                            color: $color_gray;
                            margin-bottom: 16px;
                        }
                    }
                    .weight-loss-graph{
                        .label{
                            a{
                                float: right;
                                position: relative;
                                top: 7px;
                                color: $color_primary;
                                span, img{
                                    vertical-align: middle;
                                }
                                img{
                                    margin-left: 5px;
                                }
                            }
                        }
                        .chart-wrapper{
                            margin-bottom: 16px;
                        }
                        .alert{
                            color: $color_gray;
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
    }
    .user-progress-form-wrapper{
        form{
            // position: relative;
            padding-bottom: 60px;
            padding-top: 16px;
            .form-title{
                margin-bottom: 16px;
            }
            .footer{
                position: absolute;
                bottom: 0;
                width: 100%;
                right: 0;
                box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
                p{
                    margin: 12px 16px;
                }
            }
            .alert{
                color: $color_gray;
                margin-bottom: 23px;
            }
            &.log-calories-form{
                
            }
        }
    }
}
@media (min-width: 960px){
    body{
        .user-progress-section{
            .user-progress-container{
                padding: 0px 250px 64px 250px;
            }
        }
    }
}
@media (min-width: 1279px){
    body{
        .user-progress-section{
            .user-progress-container{
                
            }
        }
    }
}